<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Marvel_public_key</key>
	<string>994a18257454ec24e48fb9a58ec2e1eb</string>
	<key>Marvel_private_key</key>
	<string>2a2065690c200cc32ea31752d8f5182949b6cc93</string>
</dict>
</plist>
