<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Marvel_public_key</key>
	<string>1098df006e7e6edce50211c7be6431daabee3d73</string>
	<key>Marvel_private_key</key>
	<string>5d94fab0240e515bd064e7d9362f8e78</string>
</dict>
</plist>
